* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    background-color: rgb(31, 31, 31);
    min-width: fit-content
}

a {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

