/* Navigation */

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
    padding-right: 30px;
    border-bottom: 3px gray solid;
}

.title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 50px;
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 15px;
}
.text {
    font-size: 30px;
    color: rgb(65, 65, 65);
}

/* Profile */

.profile {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin-top: 30px;
    height: 90vh;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.small-text {
    font-size: 20px;
    color: rgb(85, 85, 85);
}

h1 {
    font-size: 40px;
}

/* About Section */

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    height: 96vh;
    margin: auto 240px;
    box-sizing: border-box;
    min-height: fit-content;
}

.about-pic {
    height: 300px;
    width: 430px;
}

.text-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}

h2 {
    padding-bottom: 110px;
    font-size: 30px;
}

/* Experience Section */

.experience-pic {
    height: 400px;
    width: 470px;
}

/* Project Section */

.small-text-project {
    font-size: 20px;
    color: rgb(85, 85, 85);
    text-align: center;
}

.project-header {
    text-align: center;
}

#projects {
    display: flex;
}

.main-project-pic {
    display: flex;
    height: 400px;
    width: 600px;
}

.project-pics {
    height: 300px;
    width: 500px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-container {
    display: flex;
    gap: 30x;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projects {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    margin-bottom: 20px;
}
